 /* 1- commom  styles
   2- General styles
   3-sections
       3.0 Header Section
       3.1 Home section
       3.2 About section
       3.3 Portfolio section
       3.4 Services section
       3.5 Prices section
       3.6 Team section
       3.7 Blog Page
       3.8 Contact section
       3.9 Footer Section 

  1- common: 
   -container
   -Overlay
   -opacity hover
   -section haeder 
   -section padding
   -hover effect (left to right)
   -hover effevt (right to left)
   */

  /* .overlay{
       position: absolute;
       width: 100px;
       height: 100px;
       top: 0;
       left: 0;
       background-color: rgba(0, 0, 0, 0.7);
   }*/

   .ltr-effect{
       position:relative;
   }
   .ltr-effect::after{
       position: absolute;
       content: "";
       width: 0;
       background-color: #333;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;  
       transition: width 0.5s;
       z-index: -1;
   }.ltr-effect:hover::after{width: 100%;}
   
    .tb-effect{
        position:relative;
    }
    .tb-effect::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 0%;
        background-color: #333;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
        transition: height 0.5s;
        z-index: -1;
    }.tb-effect:hover::after{height: 100%;
    
}
   /* 2-General Section*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}.container{
    width: 80%;
    margin: auto;
}
body{
    font-family: 'Varela Round', sans-serif
}  
.clear{
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: monospace;
}button{
    font-family: inherit;
}
a{
    text-decoration: none;
}
.pd-y{
    padding: 120px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 20px;
}.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}.section-header .line{
    display: block;
    height: 5px;
    width: 60px;
    margin: 0px auto 70px auto;
    background-color: #6195ff;
}


 /* 3- Section  styles*/
.header{
 
   position: fixed;
   width: 100%; 
   z-index: 10;
}    
.header .logo{
    width: 40%;
    float: left; 
}.header .logo img{
    width: 20%;
    margin-top: 15px;

}.header .nav {
    list-style: none;
    float: left;
    width:60%;
    text-align: right;
}.header .nav > li{
    display:inline-block;
    text-align: right;

}.header .nav > li > a{
    display: block;
    padding: 30px 15px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 15px;
  

}.header .nav > li > a.active::after,
.header .nav > li > a::after{
    display: block;
    height: 3px;
    content: "";
    background-color: #6195ff;
    transition: width 0.5s;
    margin-top: 2px;
}
.header .nav > li > a.active::after{
    width:100% ;
}
.header .nav > li > a::after{
   
    width:0 ;

}.header .nav > li > a:hover::after{
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background: #6195ff;
    width: 150px;
    text-align: center;
    left:-50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s,visibility 0.5s;

}.dropdown-menu a{
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
/*HOME SECTION*/

.home{
    height: 100vh;
    background-image: url(../images/images/background/background1.webp); 
     background-size: cover;
     position: relative;

}.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.home-content{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 65%;

}
.home .title{
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase ;
    
}.home .home-desc{
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;

}.btn{
    padding:15px 0 ;
    min-width: 160px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-size: 18px;
} .home .btn-start{
    background-color: white;
    margin-right:10px; 
}
.home .btn-learn{
    margin-left:10px ;
    background-color:#6195ff ;
    color: white;

}.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8;

}
/*About section */
.about{
  
}.about-content{
    overflow: hidden;
}.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}.about-item:hover .about-item-title{
    color: white;
}
.about-item.mg{
    margin: 0 5%;
}.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}.about-item-desc{
    line-height: 1.6;
    color: #999;
    margin-bottom: 10px;
}.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
}
/*Portfolio section*/
.portfolio{
    background-color: #f9f9f9;
}.portfolio-content{
    overflow: hidden;
}.portfolio-item{
    width: 32%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}.portfolio-item .layer-content{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
visibility: hidden;
opacity: 0;
transition: opacity 0.2s;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.portfolio-item img{
    width: 100%;
}.portfolio-item.mg{
    margin: 0 2%;

}.layer-content .layer-info{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width:80%;
    text-align: center;
    color: white;
}.layer-content .category{
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom:5px;
   position: relative;
   top: 10px;
   transition: top 0.5s opacity 0.5s;
   transition-delay: 0.2s;
  
   opacity: 0;
}
.layer-content-title{
 font-size:20px;
 color: white;
 margin-bottom: 10px;
 position: relative;
 top: 10px;
 transition: top 0.5s opacity 0.5s;;
 transition-delay: 0.3s;
 opacity: 0;
}.layer-content a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    position: relative;
    top: 10px;
    transition: top 0.5s opacity 0.5s;;
    transition-delay: 0.3s;
    opacity: 0;
    background-color: #6195ff;
   
}.layer-content a i{
    line-height: 40px;
  

}.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category
{
    top: 0;
    opacity: 1;
}
/* offer section*/
.offer-content{
   overflow: hidden;
   
}
.ltt-effect{
    position:relative;
}
.ltt-effect::after{
    position: absolute;
    content: "";
    width: 0;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    transition: width 0.5s;
    z-index: -1;
}.ltt-effect:hover::after{width: 100%;}

.offer-item.tb-effect{
    z-index: 1;
}


.offer-item{
    float: left;
    width: 30%;
    color: #999;
    position: relative;
    margin: 5px;
    border: 1px solid #e8e8e8;
    padding:15px 20px 25px 70px;

}.icon{
    position: absolute;
    left: 15px;
    top: 35px;
    color: #6195ff;
}.offer-item .offer-item-title{
    color: black;
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
    transition: color 0.5s;
    
}.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}.offer-item:hover .offer-item-title{
    color: white;
    
}
/*Services section*/
.services{
background-color: #f9f9f9;
position: relative;
}.services-item-left{
width: 50%;
float: left;
}
.services-item .section-header{
    text-align: left;
}
.services-item .section-header .line{
margin:0 0 50px 0 ;

}.services-item-desc{
    padding-right:20px ;
    color: #999;
    line-height: 1.4;
    font-size: 17px;
    margin-bottom: 20px;
}.services-list{
    list-style: none;
}.services-list li{
    margin-bottom: 10px;
    color: #999;
}
.services-list li i{
    border-radius: 50%;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px;
    border: 1px solid #6195ff;

}.services-item-left{
     float: left;
}
.services-item-img img{ 
     width: 50%;
    float: left;
}
.services-bollets{
    list-style: none;
    float: right;
    

}.services-bollets li{
    width: 10px;
    height: 10px;
    background-color: #e8e8e8;
    text-align: center;
    display: inline-block;
    margin: 5px 5px;
    border-radius: 50%;
    
    
}.services-bollets li.active{
    background-color: #6195ff;
}
.services-bollets li:hover{
    background-color: #6195ff;
}
/*numbers section*/
.numbers{
    position: relative;
    background-image: url(../images/images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}.numbers-items{
    overflow: hidden;
    padding: 100px 0;

}.number-item{
width: 25%;
float: left;
text-align:center;
}.numbers .container{
    width: 100%;
}
.number-item i{
    color: #6195ff;
    margin-bottom: 15px;
}.number-item-title{
    font-weight: bold ;
    font-size: 30px;
     color: white;
}.number-item-text{
    color: white;
}

/*pricing*/
.pricing{}
.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    padding:40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}.pricing-item.mg{
    margin: 0 5%;
}.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color 0.5s;
}.pricing-item-permonth{ 
 width: 100px;
padding: 10px 0;
height: 100px;
margin:30px auto;
transition: color 0.5s;
border: 2px solid #6195ff;
border-radius: 50%;
}
.pricing-item-permonth .dollar
{
    font-size: 40px;
}.pricing-item-permonth .month{
    font-weight: bold;
text-transform: uppercase;
font-size: 15px;
}
.pricing-list{
    list-style: none;
    text-transform: capitalize;
}.pricing-list li{
    color: #999;
    line-height: 1.8;
}
.pricing-item-purchase{
    width:140px ;
    background: none;
    border: 0;
    display: block;
    padding:10px;
    margin: 15px auto 0 auto;
    color: #7ba7ff;
    border:2px solid #7ba7ff;
}
.pricing-item:hover{
    background-color: #333;
    transition: background-color 1s;
}
.pricing-item:hover .pricing-item-text{
    color: #7ba7ff;

}

/*testimonial section*/
.testimonial{
    position: relative;
  background-image: url(../images/images/background/background3.webp);
  height: 400px;
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
}.testimonial-content{
 overflow: hidden;
 padding: 12px 0;   
 width: 80%;
 margin:auto;
}
.testimonial-item{
    width: 50%;
    float: left;
    color: white;
}.testimonial-item .testimonial-toplayer{
    padding: 10px 2px 40px 100px;
    position: relative;
}.testimonial-item .testimonial-toplayer img{
    position: absolute;
    left: 10px;
    border-radius: 50%;
    top:10px;
}.testimonial-item .testimonial-toplayer h3{
    margin: 5px 0;
}.testimonial-item .testimonial-toplayer span{
    
    color: #6195ff;
}.testimonial-desc{
    line-height: 1.5;
    font-size: 17px;
}

/*Team section*/
.team{}
.team.content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background: #e8e8e8;
    padding: 40px 20px;
    text-align: center;
}
.team-item .team-img{
    width:90%;
    margin: auto;
    position: relative;
}.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;

}.team-overlay a{
   display: block;
   width: 40px;
   height: 40px;
   color: white;
   background-color: #7ba7ff;
   margin-left: auto;
}.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-overlay a li{
}
.team-item.tb-effect{z-index: 1;}

.team-item .team-img img{
    width: 100%;
}.team-item .team-info-title{
    content: #222;
    margin: 10px 0;
    text-transform: capitalize;
    transition: color 0.5s;
}.team-item .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.team-item:hover .team-info-title{
    color:white ;
}
.team-item:hover .team-info-text{
    color:#6195ff;
}
.team-item.mg{
    margin: 0 5%;
}
/*Blog Page*/
.blog{
    background: #f8f8f8;
}
.blog.content{
    overflow: hidden;
}
.blog-item{
    width: 30%;
    float: left;
    background:white;

}.blog-item.mg{
    margin: 0 5%;
}

.blog-item-img img{
    width: 100%;
}.blog-list{
    list-style: none;
    margin: 10px 0;

}.blog-info{
    padding: 20px;
}.blog-list li i{
    color: #6195ff;
}.blog-title{
    font-weight: bold;
    margin:20px 0;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog-desc{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.4;
    text-transform: capitalize;
}.blog-link{
    color: #6195ff;
    text-transform: capitalize;
}
.blog-list li{
    display: inline-block;
    margin: 0 5px;
}
/*Contact section*/
.contact-content{
    overflow: hidden;
}.contact-item{
    float: left;
    width: 30%;
   
}.contact-item.mg{
    margin: 0 5%;
}.contact-item i{
    color: #6195ff;
    display:inline-block;
    margin: auto;
}.contact-title{
    text-transform: capitalize;
    margin: 5px;
    font-weight: bold;
    
}.contact-span{
    color: #999;
    text-transform: capitalize;


}.form-content{
    margin: auto;
}

.form-desc{
   width: 100%;
   height: 100px;
  

}.form-desc .left{
    width:25%;
    height: 30px;
    margin:2px;
    padding:12px;
    text-transform: capitalize;
    color: #999 ;
    font-weight: bold;
    background: #e8e8e8;
    border: 2px solid #e8e8e8;

    
}.form-desc .bottom{
    width: 50%;
    height: 30px;
    text-transform: capitalize;
    color: #999 ;
    font-weight: bold;
    background: #e8e8e8;
    border: 2px solid #e8e8e8;
    margin:5px;

}.form-desc .input-text{
  width: 50%;
  height: 100%;
  text-transform: capitalize;
  color: #999 ;
  font-weight: bold;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;
  margin:5px;
  
}.input-text:hover{
    border-bottom-color: #6195ff;
    border-top-color: #7ba7ff;
    border-left-color: #7ba7ff;
    border-right-color: #7ba7ff;

}.bottom:hover{
    border-bottom-color: #6195ff;
    border-top-color: #7ba7ff;
    border-left-color: #7ba7ff;
    border-right-color: #7ba7ff;
}.left:hover{
    border-bottom-color: #6195ff;
    border-top-color: #7ba7ff;
    border-left-color: #7ba7ff;
    border-right-color: #7ba7ff;
}.footer{
    background: #1c1d21;
    text-align: center;
    padding: 60px 0;
}.footer-links{
    list-style:none;
    margin: 20px 0;
}.footer-links li{
    display: inline-block;
}.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}.footer-links li a i{
    line-height: 50px;
}.footer .copyright{
    color: #999;
    font-size: 15px;
    text-transform: uppercase;

}